header.header--principal
	.logo.logo--header: img(src="/images/logo--footer.svg")
	nav.nav--header: ul
		li: a(href="https://oneshot0.github.io/PlatziGames_prepros/html/pagina-principal.html#") Inicio
		li: a(href="https://oneshot0.github.io/PlatziGames_prepros/html/perfil.html") Perfil
		li: a(href="https://oneshot0.github.io/PlatziGames_prepros/html/articulo.html") Articulos
		li: a(href="https://oneshot0.github.io/PlatziGames_prepros/html/resultados-busqueda.html") Búsquedas
	a(href="#" class="header__busqueda")
		i.fas.fa-search
		span Search